<br><br>
<br><br>

<center>

<h1>Welcome!</h1>
<h4>Please login to continue.</h4>

<a href="/auth/instagram"><div type="button" class="btn btn-success">Login with <b>Instagram</b></div></a>

<br><br>

<a href="/auth/facebook"><div type="button" class="btn btn-primary">Login with <b>Facebook</b></div></a>

</center>
