<center>
<a href="/auth/instagram"><div type="button" class="btn btn-default">Login with Instagram</div></a>
<a href="/auth/facebook"><div type="button" class="btn btn-default">Login with Facebook</div></a>
</center>
