<center>

<h2>User Name: {{user.username}}</h2>
<h3>Display Name: {{user.displayName}}</h3>
<br>
<a href="/auth/facebook"><div type="button" class="btn btn-default">Go to <b>Profile</b></div></a>
<a href="/logout"><div class="btn btn-danger"><b>LOGOUT</b></div></a>
<br>

<h3>Pics you recently posted</h3>
<div style="width:1100px;">
{{#each photos}}
  <img src="{{url}}" style="width:250px;display:inline;">
{{/each}}
</div>

<h3>Pics you recently liked</h3>
<div style="width:1100px;">
{{#each photos}}
  <img src="{{url}}" style="width:250px;display:inline;">
{{/each}}
</div>

<br>

</center>