<center>

<h2>User Name: {{user.username}}</h2>
<h3>Display Name: {{user.displayName}}</h3>

<h3>Pics you recently posted</h3>
<div style="width:1100px;">
{{#each photos}}
  <img src="{{url}}" style="width:250px;display:inline;">
{{/each}}
</div>

<h3>Pics you recently liked</h3>
<div style="width:1100px;">
{{#each photos}}
  <img src="{{url}}" style="width:250px;display:inline;">
{{/each}}
</div>

<br>
<a href="/logout"><b>LOGOUT</b></a>

</center>